.descriptionbox{
    margin: 70px 100px;
}
.descriptionbox-navigator{
    display: flex;
}
.descriptionbox-nav-box{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    width: 121px;
    height: 50px;
    border: 1px solid #d0d0d0;
}
.fade{
    background: #fbfbfb;
    color: #555;
}
.descriptionbox-description{
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid #d0d0d0;
    padding: 28px;
    padding-bottom: 50px;
}


@media (max-width:1280px) {
    .descriptionbox{
        margin: 60px;
    }
}

@media (max-width:800px) {
    .descriptionbox{
        margin: 60px 20px;
    }
    .descriptionbox-description{
        font-size: 14px;
    }
}